{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to DJKM</h1>
      <p>Please feel free to navigate around</p>
    </div>
  </div>
  <div class="well">
    <h3>There are <span class="label label-default">{{ provinces }}</span> provinces in the system</h3>
  </div>
  <div class="well">
    <h3>There are <span class="label label-default">{{ locations }}</span> locations in the system</h3>
  </div>
{% endblock content %}