{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
    <h1>{{ h1 }}</h1>
    <hr />
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Location</th>
          <th>Zip Code</th>
          <th>Province</th>
        </tr>
      </thead>
      <tbody>
      {% for location in locations %}
        <tr>
          <th scope="row" class="text-muted"><small>{{ location.id }}</small></th>
          <td>{{ location.name }}</td>
          <td>{{ location.zip_code }}</td>
          <td>{{ location.province.name}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock content %}