{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="content">
    <h1>{{ h1 }}</h1>
    <hr />
    <table>
      <th>
        <td>Province</td>
        <td>Zip prefix</td>
        <td>Locations</td>
      </th>
      {% for province in provinces %}
        <tr>
          <td>{{ province.name }}</td>
          <td>{{ province.zip_prefix }}</td>
          <td>{{ province.get_locations_list }}</td>
        </tr>
    {% endfor %}
    </table>
  </div>
{% endblock content %}